body {
    margin: 0px;
}

.div-form {
    position: relative;
    width: 600px;
    padding: 15px;
    border: solid #e8e8e8 2px;
    border-radius: 7px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.img-user {
    position: relative;
    width: 180px;
    left: 50%;
    transform: translateX(-50%);
}

.titulo {
    position: relative;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}


span {
    color: red;
}

label {
    font-size: 16px;
    color: #696969;
}

select {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #a1a1a1;
    font-size: 15px;
    color: #696969;
}

.input-medio, .input-grande, .input-pequeno {
    position: relative;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #a1a1a1;
    font-size: 15px;
    color: #696969;
}

.input-grande {
    width: 585px;
}

.input-medio {
    width: 284px;
}

.input-pequeno {
    width: 149px;
}

.label-medio {
    position: relative;
    display: inline-block;
    width: 296px;
    color: #696969;
}

.label-pequeno {
    position: relative;
    display: inline-block;
    width: 130px;
    color: #696969;
}

.btn-cadastrar {
    position: relative;
    background-color: #fff;
    color: #00b84c;
    font-size: 16px;
    border: solid 1px #00b84c;
    border-radius: 4px;
    padding: 6px 28px;
}